.svg-icon {
   width: 1.75rem;
   height: 1.75rem;
}

.svg-icon path,
.svg-icon polygon,
.svg-icon rect {
   fill: #4691f6;
}

.svg-icon circle {
   stroke: #4691f6;
   stroke-width: 1;
}

.svg-icon-sm {
   width: 1.25rem;
   height: 1.25rem;
}

.svg-icon-sm.action path,
.svg-icon-sm.action polygon,
.svg-icon-sm.action rect {
   fill: #4691f6;
}

.svg-icon-sm.action circle {
   fill: #4691f6;
}